.label{
    border-radius: 50px;

}

.navbar{
    width: auto;
}

.bg-color{
    background-color: #c4c4c4;
    
}
.sla{
   justify-content: center;
}

.scrollView{
    overflow: auto;
    white-space: nowrap;
}
.img-bg{
background-image: url(../img/img-Academi.webp);
}